body {
    margin: 0;
    font-family: sans-serif;
    
}
    
/* Header */
header {        
    background-color: #6200EE;
    color: #FFFFFF;
    padding: 0.5rem 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;

    .logo-container img {
        max-height: 3.5rem;
        
    }

    nav {
        display: flex ;
        justify-content: center;
        gap: 1rem; 
    }
}
 
main {
    padding: 1rem 1rem;
    margin: 0 2rem 0 2rem;


}


footer {
    background-color: #6200EE;
    color: #FFFFFF;
    padding: 0.5rem 1rem;
    position:fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}


button {
    background-color: #2B3549;
    color: #FFFFFF;
    border-radius: .375rem;
    padding: 0.25rem 1rem;
    border: none 
}


.contact-info{
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    font-weight: 600;
    margin: 0 2rem 0 2rem;
}




.contact-form {
    form {
        display: flex;
        flex-direction: column;
        max-width: 20rem;
        font-weight: 600;

        label { 
            margin-top: 1rem;
        }

        input {
            margin-top: 0.4rem;
        }

        textarea {
            margin-top: 0.4rem;
        }
    }
}

.faq {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    font-weight: 600;
    
}



/* Responsive design */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    main {
        padding: 10px;
    }
}