body {
    margin: 0;
    font-family: sans-serif;
}

header {
    background-color: #6200EE;
    color: #FFFFFF;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
}

header .logo-container img {
    max-height: 3.5rem;
}

header nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100%;
    pad: 1rem;
    padding-bottom: 60px;
}

footer {
    background-color: #6200EE;
    color: #FFFFFF;
    pad: 0.5rem 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

button {
    background-color: #2B3549;
    color: #FFFFFF;
    border-radius: 0.375rem;
    padding: 0.25 1rem;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px){
    header nav {
        flex-direction: column;
        gap: 0.5rem;
    }
}